<div class="pic-container">
    <div class="picture-wrap" ng-swipe-right="setCurrentDate(-1)" ng-swipe-left="setCurrentDate(1)">
        <div class="arrow" id="left-arrow" ng-click="setCurrentDate(-1)">
            <span class="chevron"><i class="fa fa-chevron-left fa-4x"></i></span>
        </div>
        <!-- /#left-arrow.arrow -->
        
        <!-- If today's picture is a picture: -->
            <div class="picture" ng-if="picture.media_type == 'image'" ng-style="{'background-image': 'url(' + picture.picurl + ')'}">
            </div>
            <!-- /.picture -->

        <!-- If today's "picture" is a video: -->
            <!-- Using Brandly's angular-youtube embed directive
            https://github.com/brandly/angular-youtube-embed -->
            <div class="video embed-responsive embed-responsive-16by9" ng-if="picture.media_type == 'video'">
                <youtube-video class="embed-responsive-item" video-url="picture.url" player-width="'100%'" player-height="'auto'"></youtube-video>
            </div><!-- /.video embed-responsive embed-responsive-16by9 -->
            

        <div ng-hide="hideArrow()" class="arrow" id="right-arrow" ng-click="setCurrentDate(1)">
            <span class="chevron"><i class="fa fa-chevron-right fa-4x"></i></span>
        </div>
    </div>
    <!-- /.picture-wrap -->
    <div class="site-header">
        <header>
        	<div>
        		<h1 class="site-title">Astronomy Picture <span class="sub-title">of the Day</span></h1>
        		<span class="disclaimer">&copy; NASA &middot; Site revamped and designed by <a href="http://raesylin.xyz" target="_blank">Rachel Lin</a></span>
                <span class="mobiletip">Swipe right or left for the picture of the next or previous days.</span>
        	</div><!-- /.site-title -->
        </header>

        <div class="today-title">
            
			<a href="#today">
			<h2 class="title-large">{{picture.title}}</h2>
				<span class="expand">Read detail <i class="fa fa-angle-double-down"></i></span>
			</a>
            
        </div>
        <!-- /.today-title -->
    </div>
    <!-- /.site-header -->
</div><!-- /.pic-container -->
