<div class="picSheetWrap" id="today">
    <div class="picSheet">
        <div class="close"><a href="#page" class="closeSheet"><i class="fa fa-times fa-4x"></i></a></div>
        <!-- /.closeSheet -->
        <div class="picture-full" ng-swipe-right="setCurrentDate(-1)" ng-swipe-left="setCurrentDate(1)">
            <div class="pictureX" ng-if="picture.media_type == 'image'">
                <img ng-src="{{picture.url}}" alt="{{picture.title}}" class="picture-full-img" />
            </div>
            <!-- /.picture -->
            <div class="video embed-responsive embed-responsive-16by9" ng-if="picture.media_type == 'video'">
                <youtube-video class="embed-responsive-item" video-url="picture.url" player-width="'100%'" player-height="'auto'"></youtube-video>
            </div><!-- /.video embed-responsive embed-responsive-16by9 -->
            <div class="mobiletip"> Swipe right or left for the picture of the next or previous days.</div><!-- /.mobiletip -->
        </div>
        <!-- /.picture-full -->
        <div class="detail-full">
            <h3 class="date">{{picture.date}}</h3>
            <h2 class="title">{{picture.title}}</h2>
            <p class="description scrollbar-dynamic" data-jquery-scrollbar="jqueryScrollbarOptions">{{picture.explanation}}</p>
            <span class="social">
				<span class="tool" data-tip="Download HD image" tabindex="1">
					<a ng-href="{{picture.hdurl}}" download="picture.jpg"><i class="fa fa-download"></i></a>
				</span>
	            <span class="tool" data-tip="Share on Facebook" tabindex="2"><a onclick="FB.ui({
  					method: 'share',
  					href: 'http://raesylin.xyz/apod/',
				}, function(response){});" href="#"><i class="fa fa-facebook-official"></i></a> </span>
	            <span class="tool" data-tip="Share on Twitter" tabindex="3"><i class="fa fa-twitter"></i></span>
	            <span class="tool" data-tip="Share on Google+" tabindex="4"><i class="fa fa-google-plus"></i></span>
            </span>
        </div>
        <!-- /.detail-full -->
    </div>
    <!-- /.picSheet -->
</div><!-- /.picSheetWrap -->
